.BG-about{
    padding: 150px 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../../dist/Pic/BG2.jpg);
    background-position: bottom;
    background-size: cover;  
    filter: grayscale(100%);
    background-attachment: fixed;
    h2{
        color: $primary;
    }
    p{
        font-size: 18px;
        word-spacing: 5px;
        letter-spacing: 5px;
    }
}
